@{
  Layout = "_Layout";
}
@using HairSalon.Models

<div class="row">
  <div class="well">
    <h2>Clients</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-9">
    @if(Model.Count == 0)
    {
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">
            <strong>No Results</strong>
          </div>
        </div>
        <div class="panel-body">
          <p>You do not have any clients at this time.</p>
        </div>
      </div>
    }
    
    @foreach(Client client in Model)
    {
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-title">
            <strong>@client.Name</strong> | Client # @client.ClientId
          </div>
        </div>
        <div class="panel-body">
          <strong>Stylist: @Html.ActionLink(@client.Stylist.Name, "Details", "Stylists", new {id = @client.StylistId})</strong><br><br>
          <a href='@Url.Action("Details", new { id = @client.ClientId })'>
            <button class="btn btn-primary">
              View @client.Name
            </button>
          </a>
          <a href='@Url.Action("Edit", new { id = @client.StylistId })'>
            <button class="btn btn-success">
              Edit @client.Name
            </button>
          </a>
          <a href='@Url.Action("Delete", new { id = @client.StylistId })'>
            <button class="btn btn-danger">
              Delete @client.Name
            </button>
          </a>
        </div>
      </div>
    }
  </div>
  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">
          <strong>Menu</strong>
        </div>
      </div>
      <div class="panel-body  menu">
        <a href='@Url.Action("Create")'>
          <button class="btn btn-primary">
            Add Client
          </button>
        </a>
        <a href='@Url.Action("Index", "Stylists")'>
          <button class="btn btn-primary">
            View Stylists
          </button>
        </a>
        <br>
        <a href='@Url.Action("Index", "Home")'>
          <button class="btn btn-success">
            Back Home
          </button>
        </a>
      </div>
  </div>
</div>